pkgbase = animatediffusion-git
	pkgdesc = AnimateDiffusion: A plug-and-play module for animation generation with diffusion models.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/guoyww/AnimateDiff
	arch = x86_64
	license = custom
	makedepends = git
	depends = miniconda3
	depends = python
	source = animatediffusion-git::git+https://github.com/guoyww/AnimateDiff.git
	source = download_and_setup.py
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = animatediffusion-git
