pkgbase = dracula-unified-theme-meta
	pkgdesc = Meta package: unified Dracula theming stack (GTK, cursors, icons, Kvantum, qt5ct/qt6ct)
	pkgver = 1
	pkgrel = 1
	arch = any
	license = custom
	depends = ant-dracula-theme-git
	depends = dracula-cursors-git
	depends = tela-circle-icon-theme-git
	depends = kvantum
	depends = kvantum-qt5
	depends = qt5ct
	depends = qt6ct
	depends = dracula-xresources-git
	depends = dracula-icons-git

pkgname = dracula-unified-theme-meta
