pkgbase = picom-custom-git
	pkgdesc = Lightweight compositor with animations from FT-Labs, pijulius features
	pkgver = r2236.df4c6a3
	pkgrel = 1
	url = https://github.com/FT-Labs/picom
	arch = x86_64
	license = MIT
	license = MPL-2.0
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = uthash
	makedepends = libdrm
	makedepends = asciidoctor
	depends = hicolor-icon-theme
	depends = libconfig
	depends = libdbus
	depends = libepoxy
	depends = libev
	depends = libgl
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = pcre2
	depends = pixman
	depends = xcb-util-image
	depends = xcb-util-renderutil
	optdepends = dbus: for controlling picom via D-Bus
	optdepends = python: for picom-convgen.py
	optdepends = rtkit: for realtime scheduling priority
	optdepends = xorg-xprop: for picom-trans
	optdepends = xorg-xwininfo: for picom-trans
	provides = picom
	provides = compton
	conflicts = picom
	conflicts = compton
	source = picom-ftlabs::git+https://github.com/FT-Labs/picom.git#branch=next
	sha256sums = SKIP

pkgname = picom-custom-git
