pkgbase = cachyos-limine-themes
	pkgdesc = CachyOS Limine themes with TrueColor wallpapers, scaled fonts, and package-managed lifecycle
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/eirikr/pkgbuilds
	install = cachyos-limine-themes.install
	arch = any
	license = 0BSD
	depends = bash
	depends = limine
	depends = spline-cp437-limine-font
	source = README.md
	source = cachy-galaxy.conf
	source = cachy-north.conf
	source = cachy-depths.conf
	source = cachyos-limine-theme
	source = cachyos-limine-themes.install
	source = https://raw.githubusercontent.com/cachyos/cachyos-wallpapers/develop/usr/share/wallpapers/cachyos-wallpapers/cachygalaxy99.jpg
	source = https://raw.githubusercontent.com/cachyos/cachyos-wallpapers/develop/usr/share/wallpapers/cachyos-wallpapers/north.png
	source = https://raw.githubusercontent.com/cachyos/cachyos-wallpapers/develop/usr/share/wallpapers/cachyos-wallpapers/Cachy%20depths%205K.png
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 4ae7cf87b2455119a1bab1c783f41a3070d60fb5e8b3e8b30f3e73a40711cc91
	sha256sums = 39ad64ee789afda263bbf0ff185245d6a2a981f68d18e5557462c51154c23059
	sha256sums = 5e3948201366a3dcde9afae2606375e5d57530dabbbbcfd72eef31b4610411dc

pkgname = cachyos-limine-themes
