pkgbase = infer-static
	pkgdesc = Facebook Infer - Static analyzer for Java and C/C++ using separation logic
	pkgver = 1.1.0
	pkgrel = 1
	url = https://fbinfer.com/
	arch = x86_64
	license = MIT
	depends = java-runtime
	depends = sqlite
	depends = gcc
	optdepends = llvm: For C/C++ analysis
	provides = infer
	conflicts = infer
	source = https://github.com/facebook/infer/releases/download/v1.1.0/infer-linux64-v1.1.0.tar.xz
	sha256sums = 5f5d453814422e93e2a70998d8946b09a2721628ff427f67ff0123dea87461d4

pkgname = infer-static
