pkgbase = gcc-ia16-custom-stage1-git
	pkgdesc = IA-16 GCC Stage 1 (bootstrap compiler without libc)
	pkgver = r1.main
	pkgrel = 1
	url = https://github.com/Oichkatzelesfrettschen/gcc-ia16-8088-custom
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = texinfo
	makedepends = flex
	makedepends = bison
	makedepends = libisl
	depends = binutils-ia16-custom-git
	depends = gmp
	depends = mpfr
	depends = libmpc
	depends = zlib
	provides = gcc-ia16-stage1
	conflicts = gcc-ia16-stage1
	options = !strip
	options = !buildflags
	source = git+https://github.com/Oichkatzelesfrettschen/gcc-ia16-8088-custom.git#branch=main
	sha256sums = SKIP

pkgname = gcc-ia16-custom-stage1-git
