pkgbase = steelseries-config
	pkgdesc = SteelSeries Rival 710 / Apex Pro input fixes: phantom button filter, debounce quirks, OOM protection, and stuck-button watchdog
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/flozz/rivalcfg
	arch = any
	license = MIT
	depends = libinput
	depends = xorg-xinput
	depends = python
	depends = xdotool
	depends = xorg-xprop
	depends = gdb
	optdepends = rivalcfg: SteelSeries mouse configuration (DPI, RGB, OLED)
	optdepends = openrgb: RGB lighting control
	backup = etc/libinput/local-overrides.quirks
	backup = etc/X11/xorg.conf.d/45-steelseries.conf
	backup = etc/udev/rules.d/99-steelseries.rules
	source = 30-vendor-steelseries.quirks
	source = 45-steelseries.conf
	source = 99-steelseries.rules
	source = steelseries-input-protect
	source = steelseries-button-watchdog
	source = steelseries-grab-recovery
	sha256sums = 39015a853b23c14318b3bd4cb63cc94ca29fa31cd162c5e4695efc1c411524ed
	sha256sums = 01f455c101c3a222c34d97c1a4d4c5f4c02525c67e6c17fb8add083ca4748de9
	sha256sums = f732d473185982e89a7c18cd0661ca536278ef06630ae09f974b1fdf253b86a9
	sha256sums = 48fc7de5ac1600a6f8eec3ebd4e2b88fc92c637cff55380af6ac7ea4fea66382
	sha256sums = f7f585f8acbafea8bd4b5ca4fa51d1f4d6d3efe5ececab5378e725d1d0e2b440
	sha256sums = 63212d5b5c2abd3ff712766f2a9670e866fd5669fe92469eeaee02baff63dbb4

pkgname = steelseries-config
