pkgbase = synthesis-menta-marco-theme
	pkgdesc = SynthesisMenta Marco/Metacity window decorations
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/Oichkatzelesfrettschen/Synthesis-Dark-Theme
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = python-pillow
	depends = marco
	depends = synthesis-menta-gtk-theme
	source = Synthesis-Dark-Theme::git+https://github.com/Oichkatzelesfrettschen/Synthesis-Dark-Theme.git#commit=a0b5e966
	sha256sums = SKIP

pkgname = synthesis-menta-marco-theme
