pkgbase = synthesis-menta-kde-plasma
	pkgdesc = SynthesisMenta Plasma desktop theme and look-and-feel packages
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/Oichkatzelesfrettschen/Synthesis-Dark-Theme
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = plasma-workspace
	source = Synthesis-Dark-Theme::git+https://github.com/Oichkatzelesfrettschen/Synthesis-Dark-Theme.git#commit=a0b5e966
	sha256sums = SKIP

pkgname = synthesis-menta-kde-plasma
