pkgbase = python-pillow6
	pkgdesc = Python Imaging Library (PIL) fork
	pkgver = 12.1.0
	pkgrel = 1
	url = https://pillow.readthedocs.io
	arch = x86_64
	license = MIT-CMU
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-packaging
	depends = freetype2
	depends = lcms2
	depends = libavif
	depends = libraqm
	depends = libtiff
	depends = openjpeg2
	depends = libjpeg-turbo
	depends = libimagequant
	depends = libxcb
	depends = zlib
	optdepends = libwebp: for webp images
	optdepends = tk: for the ImageTK module
	optdepends = python-olefile: OLE2 file support
	optdepends = python-pyqt6: for the ImageQt module
	optdepends = python-defusedxml: for reading XMP tags
	source = pillow-12.1.0.tar.gz::https://files.pythonhosted.org/packages/source/p/pillow/pillow-12.1.0.tar.gz
	sha256sums = 5c5ae0a06e9ea030ab786b0251b32c7e4ce10e58d983c0d5c56029455180b5b9

pkgname = python-pillow6
