pkgbase = newlib-ia16-custom-git
	pkgdesc = IA-16 newlib C library with PATH_MAX fixes
	pkgver = r1.newlib
	pkgrel = 1
	url = https://github.com/Oichkatzelesfrettschen/newlib-ia16-custom
	arch = x86_64
	license = BSD
	license = GPL3
	makedepends = git
	makedepends = texinfo
	depends = gcc-ia16-custom-stage1-git
	provides = newlib-ia16
	provides = newlib-ia16-elf
	conflicts = newlib-ia16
	conflicts = newlib-ia16-elf
	options = !strip
	options = !buildflags
	source = git+https://github.com/Oichkatzelesfrettschen/newlib-ia16-custom.git#branch=newlib-2_4_0-ia16-tkchia
	sha256sums = SKIP

pkgname = newlib-ia16-custom-git
